/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-back-sky {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1260px -224px;
  width: 384px;
  height: 224px;
}
.icon-cat-runs-01 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -200px -1185px;
  width: 100px;
  height: 87px;
}
.icon-cat-runs-02 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -800px -1185px;
  width: 100px;
  height: 87px;
}
.icon-cat-runs-03 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -700px -1185px;
  width: 100px;
  height: 87px;
}
.icon-cat-runs-04 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -600px -1185px;
  width: 100px;
  height: 87px;
}
.icon-cat-runs-05 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -100px -1185px;
  width: 100px;
  height: 87px;
}
.icon-cat-runs-06 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -500px -1185px;
  width: 100px;
  height: 87px;
}
.icon-cat-runs-07 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -400px -1185px;
  width: 100px;
  height: 87px;
}
.icon-cat-runs-08 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -300px -1185px;
  width: 100px;
  height: 87px;
}
.icon-dino-runs-01 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1260px -848px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-02 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1516px -760px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-03 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1388px -760px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-04 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1260px -760px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-05 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1420px -448px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-06 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1388px -672px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-07 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1388px -848px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-08 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1260px -672px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-09 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1516px -672px;
  width: 128px;
  height: 88px;
}
.icon-dino-runs-10 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1420px -536px;
  width: 128px;
  height: 88px;
}
.icon-dog-runs-01 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: 0px -1185px;
  width: 100px;
  height: 88px;
}
.icon-dog-runs-02 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1516px -848px;
  width: 100px;
  height: 88px;
}
.icon-dog-runs-03 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1260px -936px;
  width: 100px;
  height: 88px;
}
.icon-dog-runs-04 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1360px -936px;
  width: 100px;
  height: 88px;
}
.icon-dog-runs-05 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1460px -936px;
  width: 100px;
  height: 88px;
}
.icon-dog-runs-06 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1260px -1024px;
  width: 100px;
  height: 88px;
}
.icon-dog-runs-07 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1360px -1024px;
  width: 100px;
  height: 88px;
}
.icon-dog-runs-08 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1460px -1024px;
  width: 100px;
  height: 88px;
}
.icon-forest {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1260px -448px;
  width: 160px;
  height: 224px;
}
.icon-ground {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1260px 0px;
  width: 384px;
  height: 224px;
}
.icon-red-bee-flies-01 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1548px -536px;
  width: 50px;
  height: 37px;
}
.icon-red-bee-flies-02 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1548px -573px;
  width: 50px;
  height: 37px;
}
.icon-sun-00 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -420px -711px;
  width: 420px;
  height: 237px;
}
.icon-sun-01 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: 0px -711px;
  width: 420px;
  height: 237px;
}
.icon-sun-02 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -840px -474px;
  width: 420px;
  height: 237px;
}
.icon-sun-03 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: 0px 0px;
  width: 420px;
  height: 237px;
}
.icon-sun-04 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -420px 0px;
  width: 420px;
  height: 237px;
}
.icon-sun-05 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -840px -711px;
  width: 420px;
  height: 237px;
}
.icon-sun-06 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: 0px -948px;
  width: 420px;
  height: 237px;
}
.icon-sun-07 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -840px -948px;
  width: 420px;
  height: 237px;
}
.icon-sun-08 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -840px 0px;
  width: 420px;
  height: 237px;
}
.icon-sun-09 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -420px -474px;
  width: 420px;
  height: 237px;
}
.icon-sun-10 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: 0px -474px;
  width: 420px;
  height: 237px;
}
.icon-sun-11 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -420px -237px;
  width: 420px;
  height: 237px;
}
.icon-sun-12 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: 0px -237px;
  width: 420px;
  height: 237px;
}
.icon-sun-13 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -840px -237px;
  width: 420px;
  height: 237px;
}
.icon-sun-14 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -420px -948px;
  width: 420px;
  height: 237px;
}
.icon-yellow-bee-flies-01 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1548px -448px;
  width: 50px;
  height: 44px;
}
.icon-yellow-bee-flies-02 {
  background-image: url(image/5c8cc826b16fd0b85fca7f58d30cba9f.png);
  background-position: -1548px -492px;
  width: 50px;
  height: 44px;
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#progress {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid rgba(0, 0, 0, 0.8);
    border-top: 16px solid rgba(200, 200, 200, 0.8);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 10;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    display: flex;
}

.title {
    position: absolute;
    color: #ccc;
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    left: 50%;
    top: 25%;
    margin-left: -25%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    font-weight: bold;
}

.animation-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.frameset {
    position: absolute;
    display: flex;
}

.frameset.bottom-obj {
    bottom: 0;
}

.frameset.bottom-obj.animation-frame {
    bottom: 110px;
}

.frameset.top-obj.animation-frame {
    top: 10px;
}

.frameset.bottom-obj.animation-frame > .obj-1 {
    position: absolute;
}

.frameset.bottom-obj.animation-frame .invisible,
.frameset.top-obj.animation-frame .invisible {
    display: none;
}

/* RENDERING_PERFORMANCE_PAINT_RECT_GPU: true */
/* .animation-container,
.frameset.bottom-obj.back-sky,
.frameset.bottom-obj.forest,
.frameset.bottom-obj.ground {
    will-change: transform;
} */

.frameset.bottom-obj.back-sky .obj-1 {
    width: 384px;
    height: 224px;
}
.frameset.bottom-obj.back-sky .obj-1.loading {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADCAYAAABbNsX4AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAActpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+QWRvYmUgSW1hZ2VSZWFkeTwveG1wOkNyZWF0b3JUb29sPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KKS7NPQAAADxJREFUCB0VisENgDAQwxx0QnxYm5EYq98WtdwR/LEcRdf91HlsSIsxRVDEPpsFKxOleB1RVfThVX5bPx/8UxUc+196GgAAAABJRU5ErkJggg==) no-repeat;
    background-size: cover;
    /*background-color: transparent;*/
}
.frameset.bottom-obj.forest .obj-1 {
    width: 160px;
    height: 224px;
}
.frameset.bottom-obj.forest .obj-1.loading {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFCAYAAABirU3bAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAActpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+QWRvYmUgSW1hZ2VSZWFkeTwveG1wOkNyZWF0b3JUb29sPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KKS7NPQAAAE5JREFUCB1jCA1dxczw/z8jAzqoXLhHGCTGWDJ9625mJkY2hv8M2n///7/H8vc/q8vfvwwMP77/YGBlYxNm+fDu8x+Q0v8M/5m/f//1DwDJxx3RWRjC8QAAAABJRU5ErkJggg==) no-repeat;
    background-size: cover;
    /*background-color: transparent;*/
}
.frameset.bottom-obj.ground .obj-1 {
    width: 384px;
    height: 224px;
}
.frameset.bottom-obj.ground .obj-1.loading {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADCAYAAABbNsX4AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAActpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+QWRvYmUgSW1hZ2VSZWFkeTwveG1wOkNyZWF0b3JUb29sPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KKS7NPQAAAD1JREFUCB1jDm0IZdMW1Wa+du3aXwYgAPFBNBh0b6pMLpuZlQPiMPZPS17ExMT4/dvv/+Z/f//9z8PBchYAN0oVdvb2HPAAAAAASUVORK5CYII=) no-repeat;
    background-size: cover;
    /*background-color: transparent;*/
}
.yellow-bee .obj-1 {
    width: 50px;
    height: 44px;
}
.yellow-bee .obj-1.loading {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAECAYAAABGM/VAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABy2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5BZG9iZSBJbWFnZVJlYWR5PC94bXA6Q3JlYXRvclRvb2w+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgqyI37xAAAAWElEQVQIHWNmAAHRUImp5RK+3J/up197znAUKKJWtH82w7O3J0L/37lz5f+BQ8cXszAwcDyT4mDgFWJ6wfDj82uG7x+/coB1lzNo61+tZYjaxMDgBBRgAgBIIh5fkLrHLgAAAABJRU5ErkJggg==) no-repeat;
    background-size: cover;
}
.red-bee .obj-1 {
    width: 50px;
    height: 37px;
}
.red-bee .obj-1.loading {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAECAYAAABGM/VAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABy2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5BZG9iZSBJbWFnZVJlYWR5PC94bXA6Q3JlYXRvclRvb2w+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgqyI37xAAAAWklEQVQIHWNmAILarp60HFWDQMPTR333MjA8ZvGPCMvWYWaeIsP4m0FhzXoGxR/fzZhvMjHqZe866C325zuTWEYaAyMb6z9GkPY8BoZ6RQaGEDYGhhcHGBiqAUwBGIt0m8m4AAAAAElFTkSuQmCC) no-repeat;
    background-size: cover;
}
.cat .obj-1 {
    width: 100px;
    height: 87px;
}
.cat .obj-1.loading {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAECAYAAABGM/VAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAAT0lEQVQIHWNkAIIFC+bY/f751/Hjhw/HSsrLdzOBBF+9/2omLi3X8I+VownEBwsePnny/f9/fxmUlFUWggSZQUSovycrw7//jPFxMfUgPgBSlRw6WTsPtgAAAABJRU5ErkJggg==) no-repeat;
    background-size: cover;
}
.dog .obj-1 {
    width: 100px;
    height: 88px;
}
.dog .obj-1.loading {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAECAYAAABGM/VAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAATklEQVQIHWNkAIL7a9o0GJl+pf1n4Tuo6Fe0kQkkyMQh5CpvaFDIyPi/EMwHEZ9+/fz97L0Aw1dRk2UgPjOIyLFm5vz7/SujpmdyHYgPALIqFmbrI9taAAAAAElFTkSuQmCC) no-repeat;
    background-size: cover;
}
.dino .obj-1 {
    width: 128px;
    height: 88px;
}
.dino .obj-1.loading {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADCAYAAABbNsX4AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAAPUlEQVQIHWNgAIJdZ1tad58tyQGx//9vYGJad9TL/9eve2U/v/94BBIEASYGlu8PXn/+ObPcxm4HRKj+PwAmbhkNjLQ/UgAAAABJRU5ErkJggg==) no-repeat;
    background-size: cover;
}

.background .obj-1.loading {
    width: 1096px;
    height: 822px;
    background-color: rgb(111, 165, 254);
}

.img-background {
    background-image: url(image/ca40860a74f89d61b2382fc626cfd03a.png);
    width: 1096px;
    height: 822px;
}

.container-el {
    width: 800px;
    height: 600px;
    border: 1px solid black;

    position: relative;
    overflow: hidden;
    display: flex;
}


/*# sourceMappingURL=bundle.css.map*/